.titleText {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titleDiv {
    width: 100%;
    text-align: left;
    margin-top: 1%;
    margin-left: 1%;
}

.inputDiv {
    width: 100%;
    text-align: right;
    margin-top: 2%;
    margin-bottom: 1%;
}

.headerOuterBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerInnerBar {
    width: 70%;
    display: flex;
    background: white;
    border-style: double;
    border-color: #4C4847;
}

.headerInput {
    height: 3vh;
    width: 50%;
    margin-right: 3%;
}