.titleText {
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1%;
}

.titleDiv {
    width: 100%;
}

.inputDiv {
    width: 100%;
    text-align: right;
    margin-top: 3%;
}

.headerOuterBar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.headerInnerBar {
    width: 50%;
    display: flex;
}

.headerInput {
    height: 3vh;
    width: 50%;
}