.playerCountOuterBody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playerCountInnerBody {
    width: 70%;
    text-align: left;
    border-style: solid;
    border-color: #4C4847;
    margin-bottom: 10%;
}

.playerCountLoadingIcon {
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    color: white;
}

tr:nth-child(even) {background-color: #4C4847;}
tr:nth-child(odd) {background-color: #645F5E;}

