.playerCountOuterBody {
    width: 100%;
    display: flex;
    justify-content: center;
}

.playerCountInnerBody {
    width: 90%;
    text-align: left;
    margin-bottom: 10%;
}

.playerCountLoadingIcon {
    margin: 10%;
    text-align: center;
    /* margin-top: 20%; */
}

.playerCountCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.playerCountCardLoading {
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputDiv {
    width: 100%;
    text-align: center;
    margin-top: 2%;
}

.tableDiv {
    display: flex;
    justify-content: center;
    margin: 1%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    color: black;
}

thead {
    text-align: left;
    /* padding: 8px; */
    color: black;
    background: #E5E5E5;
}

tr:nth-child(even) {background-color: #F1F1F1;}
tr:nth-child(odd) {background-color: #E5E5E5;}

tr:hover, td:hover {
    background-color:rgb(177, 207, 209);
    color: white;
}

th:hover, thead:hover {

}

.fadeinout {
    width:10px;
    height: 10px;
    border-radius: 10px;
    background: green;
    margin-right: 5%;
    -webkit-animation: fadeinout 2s linear infinite;
    animation: fadeinout 2s linear infinite;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.fadeinout-placeholder {
    width:10px;
    height: 10px;
    margin-right: 5%;
}

